{% extends 'hostel/base.html' %}
{% block title %}Update Ticket - HostelEase{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card p-4 bg-white shadow-sm">
            <h4>Update Ticket #{{ complaint.id }}</h4>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3"><label class="form-label">Status</label>{{ form.status }}</div>
                <div class="mb-3"><label class="form-label">Assign Technician</label>{{ form.assigned_to }}</div>
                <div class="mb-3"><label class="form-label">Remarks</label>{{ form.warden_remarks }}</div>
                <button type="submit" class="btn btn-primary w-100">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}